.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
    background: linear-gradient(to right, #D95252, #BF8F65, #6077A6, #8B4EA6);
  }
  
  .carousel {
    position: relative;
    margin-right: 60px;
    width: 550px;
    height: 300px;
  }
  
  .carousel img {
    width: 100%; /* Ajuste de largura para maior destaque */
    margin-right: 40px;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0; /* Inicia transparente */
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out; /* Transição de 1 segundo */
  }

.carousel img.active {
    opacity: 1; /* Imagem ativa totalmente visível */
    position: relative;
}
  
  .hero-content {
    max-width: 450px;
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  }
  
  .hero-content p {
    font-size: 18px;
    color: white;
    margin-top: 10px;
    line-height: 1.5;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  }
  
  .hero-content strong {
    font-weight: bold;
  }
  
  .hero-content button {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  .hero-content button:hover {
    background-color: darkred;
  }
  